:root {
	/* Font Sizes */
	--font-heading: 24px;
	--font-primary: 20px;
	--font-secondary: 17px;
	--font-tertiary: 14px;
	/* color */
	--color-neutral: #fff;
	--color-dark: #000;
	--color-grey: #adadad;
	--color-transparent-grey: #eef1f625;
	--color-primary: teal;
	--color-secondary: #af69ef;
	/* spaces */
	--gap: 30px;
	--gap-half: 15px;
	--gap-third: 10px;
	--gap-sixth: 5px;

	--btn-padding: 0.5em 1em;

	/* corners */
	--corner-round: 10px;
	--round: 50px;
	--floating-icon-gap: 2em;

	/* Sizes */
	--max-navbar-height: 80px;
}
* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	color: inherit;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
i {
	text-align: center;
	line-height: var(--floating-icon-gap);
	width: var(--floating-icon-gap);
}
body {
	font: var(--font-primary) / 1.5 Helvetica, sans-serif;
	color: var(--color-neutral);
	background-color: var(--color-dark);
}
button,
.btn {
	background-color: inherit;
	font-size: var(--font-secondary);
	padding: var(--btn-padding);
	line-height: 1;
	transition: 300ms ease-in-out;
}
button:active,
.btn:active,
.call-to-action:active {
	background-color: rgba(255, 255, 255, 0.3);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--font-heading);
	line-height: 1;
}
a.call-to-action,
button.call-to-action {
	background-color: var(--color-primary);
}
.primary {
	color: var(--color-primary);
}
.corner-round {
	border-radius: var(--corner-round);
}
.corner-pill {
	border-radius: var(--round);
}
.container {
	width: min(85%, 1200px);
	margin-inline: auto;
	overflow: hidden;
}
.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-half);
}
.light {
	background: var(--color-neutral);
	color: var(--color-dark);
	padding: var(--gap-half);
}
@media screen and (max-width: 500px) {
	:root {
		/* Font Sizes */
		--font-heading: 20px;
		--font-primary: 16px;
		--font-secondary: 14px;
		--font-tertiary: 13px;
	}
	.container {
		width: 90%;
	}
	html,
	body {
		width: 100%;
	}
}
