:root {
	/* Font Sizes */
	--font-heading: 24px;
	--font-primary: 20px;
	--font-secondary: 17px;
	--font-tertiary: 14px;

	/* color */
	--color-neutral: #fff;
	--color-dark: #000;
	--color-grey: #adadad;
	--color-transparent-grey: #eef1f625;
	--color-primary: #008080;
	--color-primary-active: #00ffff;
	--color-secondary: #fb3690;

	/* spaces */
	--gap: 30px;
	--gap-half: 15px;
	--gap-third: 10px;
	--gap-sixth: 5px;

	--btn-padding: 0.5em 1em;

	/* corners */
	--corner-round: 10px;
	--round: 50px;
	--floating-icon-gap: 2em;

	/* Sizes */
	--max-navbar-height: 80px;
}
* {
	color: inherit;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
body {
	font: var(--font-primary) / 1.5 Helvetica, sans-serif;
	color: var(--color-neutral);
	background-color: var(--color-dark);
}
button,
.btn {
	background-color: inherit;
	font-size: var(--font-secondary);
	padding: var(--btn-padding);
	cursor: pointer;
	transition: 300ms ease-in-out;
}
button:active,
.btn:active {
	background-color: var(--color-transparent-grey);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--font-heading);
	line-height: 1.3em;
}
@media screen and (max-width: 500px) {
	:root {
		/* Font Sizes */
		--font-heading: 20px;
		--font-primary: 16px;
		--font-secondary: 14px;
		--font-tertiary: 13px;
	}
}
