@import url(reset.css);
@import url(navbar.css);
@import url(sections/hero.css);
@import url(sections/blog.css);
@import url(sections/aside.css);
@import url(sections/newsletter.css);
@import url(sections/footer.css);
@import url(about.css);
@import url(blogpage.css);
/* Underline Anim */
.underline {
	position: relative;
}
.underline::before {
	content: '';
	background-color: var(--color-secondary);
	width: 0;
	height: 2px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	translate: -50% -50%;
	transition: 250ms ease-in;
}
.nav-active::before {
	width: 110%;
}
nav .nav-active {
	color: var(--color-secondary);
}
