/* CONTAINER BEHAVIORS*/
.container {
	width: min(85%, 1200px);
	margin-inline: auto;
	overflow: hidden;
}
.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-half);
}
.light {
	background: var(--color-neutral);
	color: var(--color-dark);
	padding: var(--gap-half);
}
.truncate {
	--max-lines: 2;
	display: -webkit-box;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* INTERACTIVES */
.cta {
	background-color: var(--color-primary);
	color: var(--color-neutral);
	transition: 300ms ease;
}
.cta:hover {
	background-color: var(--color-primary-active);
	color: var(--color-dark);
}
.cta:active {
	background-color: var(--color-secondary);
	color: var(--color-neutral);
}
.primary {
	color: var(--color-primary);
}
/* CORNERS */
.corner-round {
	border-radius: var(--corner-round);
}
.corner-pill {
	border-radius: var(--round);
}

.section-title {
	margin-bottom: var(--gap-half);
}
/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
	.container {
		width: 90%;
	}
}
