@import url(../components/hero.css);
@import url(../components/footer.css);
#blog {
	position: relative;
}
#blog #hero {
	height: 100vh;
}
#blog > .container {
	position: absolute;
	top: 65vh;
	left: 50%;
	translate: -50% 0;
	z-index: 2;
	padding: var(--gap);
}
#blog-header {
	padding-bottom: var(--gap);
	margin-bottom: var(--gap);
	border-bottom: 1px solid var(--color-grey);
}
#blog #blog-header h1 {
	font-size: calc(var(--font-heading) * 2);
}
#blog-header small {
	color: var(--color-grey);
}
#blog-context h1,
#blog-context h2,
#blog-context h3,
#blog-context h4,
#blog-context h5,
#blog-context h6 {
	margin-top: 1.5em;
	padding-block: var(--gap-third);
}
#blog-footer {
	padding-top: var(--gap-half);
	margin-top: var(--gap);
	border-top: 1px solid var(--color-grey);
}
#blog-footer .wrapper {
	gap: 0;
	justify-content: center;
}
#blog-footer p {
	text-align: center;
	margin-bottom: var(--gap-sixth);
}
#footer_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem 3rem;
}
