@import url(../components/hero.css);
@import url(../components/blog-post/post.css);
@import url(../components/blog-post/featured-blogs-post.css);
@import url(../components/blog-post/other-blogs-post.css);
#featured-blogs,
#other-blogs,
aside {
	padding-block: var(--gap);
}
@media screen and (min-width: 900px) {
	.two-col {
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: var(--gap);
		overflow: visible;
	}
	#other-blogs {
		flex-basis: 65%;
		order: -1;
	}
	#blog-topics {
		flex-basis: 30%;
		flex-grow: 1;
		position: sticky;
		top: 0;
	}
}
@keyframes heart {
	0% {
		translate: 0 -0;
	}
	50% {
		translate: 0 -15px;
		scale: 1.2 2;
	}
	100% {
	}
}
