@import url(../components/hero.css);
@import url(../components/blog-post/post.css);
@import url(../components/blog-post/featured-blogs-post.css);
@import url(../components/blog-post/other-blogs-post.css);

#featured-blogs,
#other-blogs,
aside {
	padding-block: var(--gap);
}
aside#blog-topics .wrapper {
	padding: var(--gap-third) var(--gap-sixth);
	gap: var(--gap-sixth);
}
#blog-topics .blog-category {
	background-color: var(--color-transparent-grey);
	color: var(--color-neutral);
	transition: 300ms background-color ease;
}
#blog-topics .blog-category:active {
	background-color: var(--color-neutral);
}
#blog-topics #main-footer {
	font-size: var(--font-secondary);
	text-align: left;
	display: none;
}
#blog-topics .blog-category[data-blog-filter='true'] {
	background-color: var(--color-secondary);
	color: var(--color-dark);
}
@media screen and (min-width: 900px) {
	.two-col {
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: var(--gap);
		overflow: visible;
	}
	#other-blogs {
		flex-basis: 65%;
		order: -1;
	}
	#blog-topics {
		flex-basis: 30%;
		flex-grow: 1;
		position: sticky;
		top: 0;
	}
	#blog-topics #main-footer {
		display: block;
	}
}
