section:not(.blog-context),
aside {
	padding-block: var(--gap);
}
.section-title {
	margin-bottom: var(--gap-half);
}
.col-2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);
}
/* Compare */

/* Base Blog Post */
.blog-post {
	flex: 300px 1 1;
	--max-img-height: 250px;
	display: flex;
	overflow: hidden;
	position: relative;
	background-color: var(--color-dark);
	border: 1px solid var(--color-transparent-grey);
}
.blog-cover {
	height: clamp(200px, calc(150px + 15vw), var(--max-img-height));
}
.blog-cover::after {
	content: '';
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
	position: absolute;
	z-index: 1;
	inset: 0;
}
.blog-header {
	padding: var(--gap-third) var(--gap-half) var(--gap-sixth);
	position: absolute;
	z-index: 2;
	bottom: 0;
	text-transform: capitalize;
}
/* Featured Blogs */
#featured-blogs .blog-post {
	flex-direction: column;
	border-radius: var(--corner-round);
}
#featured-blogs .blog-cover {
	position: relative;
}

.blog-post-date {
	font-size: var(--font-tertiary);
	color: var(--color-grey);
}
.blog-post-date::before {
	content: 'Posted on ';
	padding-left: var(--gap-sixth);
}
.blog-tool {
	padding-block: var(--gap-third);
	display: flex;
	justify-content: end;
	align-items: center;
	padding-inline: var(--gap-half);
	border-bottom: 1px solid var(--color-grey);
	overflow: hidden;
}
.blog-category {
	font-size: var(--font-tertiary);
	font-family: monospace;
	background-color: var(--color-transparent-grey);
	color: var(--color-secondary);
	line-height: 1.75em;
	padding-inline: 1em;
	border-radius: var(--round);
	margin-top: calc(var(--gap-third) * -1);
	margin-right: auto;
}
.truncate {
	--max-lines: 2;
	display: -webkit-box;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.blog-header .truncate {
	--max-lines: 1;
}
.blog-context summary {
	margin-block: var(--gap-sixth);
	padding-inline: var(--gap);
}
a.blog-btn {
	margin-top: auto;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-align: center;
}

/* Other Blogs */
#other-blogs {
	grid-column: 1/13;
}
#other-blogs .blogs-container {
	gap: var(--gap-sixth);
}
#other-blogs .blog-post {
	--max-img-height: 200px;
	flex-basis: 100%;
	height: clamp(100px, calc(100px + 7vw), var(--max-img-height));
}
#other-blogs .blog-cover,
#other-blogs .blog-cover::after {
	flex-shrink: 0;
	width: clamp(100px, calc(100px + 7vw), var(--max-img-height));
	max-width: var(--max-img-height);
}
#other-blogs .blog-header {
	inset: unset;
	top: 0;
	padding: var(--gap-half) var(--gap) 0
		calc(
			var(--gap) + clamp(100px, calc(100px + 7vw), var(--max-img-height))
		);
	width: 100%;
}
#other-blogs .blog-context {
	display: flex;
	flex-direction: column;
	padding-inline: var(--gap);
	margin-top: 60px;
	flex-grow: 1;
	overflow: hidden;
}
#other-blogs .blog-context summary {
	display: none;
}
#other-blogs .blog-context > * {
	padding-inline: 0;
}
#other-blogs .blog-category {
	margin-top: 0;
	margin-right: auto;
}
#other-blogs a.blog-btn {
	display: none;
}
@media screen and (min-width: 1001px) {
	#other-blogs {
		grid-column: 1/9;
	}
}
@media screen and (min-width: 700px) {
	#other-blogs .blog-context summary {
		display: block;
	}
}
