#featured-blogs .post {
	--min-img-height: 100px;
	--max-img-height: 150px;
	flex: 1 1 300px;
	flex-direction: column;
}
#featured-blogs .post figure {
	height: clamp(
		var(--min-img-height),
		calc(150px + 15vw),
		var(--max-img-height)
	);
	position: relative;
}
#featured-blogs .post figure::after {
	content: '';
	background: linear-gradient(to bottom, transparent, var(--color-dark));
	position: absolute;
	inset: 0;
}
#featured-blogs .post figcaption {
	/* text-transform: capitalize; */
	padding-inline: var(--gap-half);
	position: absolute;
	z-index: 1;
	bottom: 0;
}
#featured-blogs .post .blog-tool {
	padding: var(--gap-third) var(--gap-half);
	border-bottom: 1px solid var(--color-grey);
}
#featured-blogs .post summary {
	margin: var(--gap-sixth) var(--gap);
}
#featured-blogs .post .read-more {
	font-weight: 700;
	margin-top: auto;
}
@media screen and (min-width: 500px) {
	#featured-blogs .post {
		--min-img-height: 200px;
		--max-img-height: 250px;
	}
}
