.blog-btn {
	border-radius: var(--round);
	background-color: var(--color-transparent-grey);
	font-size: var(--font-tertiary);
	line-height: initial;
}
.blog-post-date {
	font-size: var(--font-tertiary);
	color: var(--color-grey);
}
.blog-post-date::before {
	content: 'Posted on ';
	padding-left: var(--gap-sixth);
}
.blog-category {
	font-family: monospace;
	padding-block: 0.25em;
}
.post {
	position: relative;
	display: flex;
	border: 1px solid var(--color-transparent-grey);
	border-radius: var(--corner-round);
	overflow: hidden;
}
.blog-btn[data-blog-favorite] {
	padding: 0.5em;
	font-size: var(--font-secondary);
}
.blog-btn[data-blog-favorite='true'] i {
	color: var(--color-secondary);
	animation: heart 1000ms linear;
}
.blog-btn:active {
	background-color: var(--color-neutral);
}
figure[data-blog-id]:hover,
h2[data-blog-id]:hover,
#other-blogs summary[data-blog-id]:hover {
	text-decoration: underline;
	cursor: pointer;
}
@keyframes heart {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	30% {
		transform: translateX(-20px) translateY(-30px) rotate(15deg);
	}
	45% {
		transform: translateX(0) translateY(-60px) rotate(5deg);
	}
	60% {
		transform: translateX(15px) translateY(-90px) rotate(-15deg);
	}
	90% {
		transform: translateX(-10px) translateY(-150px) rotate(10deg);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
