#main-footer {
	padding-block: var(--gap) var(--gap-third);
	text-align: center;
}
.my_social_media_accounts {
	font-size: 2rem;
	margin-bottom: var(--gap-sixth);
}
.my_social_media_accounts h3 {
	margin-bottom: var(--gap-sixth);
}
.my_social_media_accounts a {
	margin-left: var(--gap-third);
}
@media screen and (min-width: 800px) {
	.my_social_media_accounts h3 {
		text-align: left;
		margin-left: -2rem;
	}
}
#main-footer .other {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-block: 0.5rem;
	font-size: var(--font-tertiary);
}
#address {
	text-align: center;
	border-top: 1px solid var(--color-grey);
	border-bottom: 1px solid var(--color-grey);
	padding-block: 2px;
	font-weight: 700;
}
#address a {
	color: var(--color-primary);
}
#main-footer .other > * {
	margin-inline: 0.5rem;
}
