#hero {
	height: clamp(400px, calc(200px + 35vw), 800px);
	position: relative;
	/* Prevent Text Selection */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
#hero::after {
	content: '';
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 1)
	);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#hero hgroup {
	font-family: monospace;
	line-height: 1;
	text-align: center;
	text-transform: lowercase;

	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
#hero hgroup h1 {
	color: var(--color-primary);
	text-shadow: 0 0 10px var(--color-dark);
	font-size: clamp(2em, calc(1.75em + 8vw), 7em);
}
#hero hgroup p {
	margin-top: 5px;
	font-size: clamp(0.95rem, 2vw, 1.5rem);
}
#hero hgroup p::before {
	content: '< ';
}
#hero hgroup p::after {
	content: ' />';
}
