#main-nav {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	transition: 500ms ease;
}
#main-nav.not_transparent {
	background-color: var(--color-dark);
	box-shadow: 0 0 0 1px var(--color-transparent-grey);
}
#main-nav.hide {
	translate: 0 -100%;
}
#main-nav > .container {
	height: var(--max-navbar-height);
	padding: 20px var(--gap-sixth);
}
#brand-logo {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('../../logo.png');
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 100%;
}
#main-nav button {
	margin-right: var(--gap-third);
	position: relative;
	display: none;
}
#main-nav button:nth-of-type(1) {
	margin-left: auto;
}
#main-nav button:not(.cta)::before {
	content: '';
	background-color: var(--color-secondary);
	width: 100%;
	height: 3px;

	position: absolute;
	bottom: 0;
	left: 0;

	scale: 0 1;
	transition: 300ms ease-in-out;
}
#main-nav button.nav-active:not(.cta)::before {
	scale: 1 1;
}
#main-nav button.cta.nav-active {
	background-color: var(--color-secondary);
	color: var(--color-dark);
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
	--bar-height: 5px;
	--bar-width: calc(var(--bar-height) * 6);
	--hamburger-height: calc(var(--bar-height) * 3 + (var(--bar-height) * 2));
	--x-width: calc(var(--hamburger-height) * 1.41421356237);
	--right-angle: 45deg;
	cursor: pointer;
}
#toggle-nav {
	appearance: none;
	outline: none;
	pointer-events: none;
}
#mobile-nav-toggle::before,
#mobile-nav-toggle::after,
#toggle-nav {
	content: '';
	display: block;
	width: var(--bar-width);
	height: var(--bar-height);
	margin-block: var(--bar-height);
	background-color: var(--color-neutral);
	transform-origin: right;
	transition: 500ms ease-in-out;
}
#toggle-nav:checked {
	scale: 0;
}
#mobile-nav-toggle:has(#toggle-nav:checked)::before {
	rotate: calc(var(--right-angle) * -1);
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / -2);
}
#mobile-nav-toggle:has(#toggle-nav:checked)::after {
	rotate: var(--right-angle);
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / 2);
}
/* Mobile Nav */
#mobile-main-nav {
	background-color: var(--color-dark);
	padding: var(--gap);

	position: fixed;
	z-index: 99;
	top: var(--max-navbar-height);
	bottom: 0;
	left: 0;
	right: 0;
	translate: 100% 0;
	transition: 500ms translate ease-out;
}
body:has(#toggle-nav:checked) #mobile-main-nav {
	translate: 0 0;
}
#mobile-main-nav button {
	background-color: transparent;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid var(--color-transparent-grey);
	margin-bottom: var(--gap-third);
	font-size: var(--font-heading);
	position: relative;
}
#mobile-main-nav button:not(.cta)::before {
	content: '';
	background-color: var(--color-secondary);

	width: 0;
	height: 5px;
	border-radius: var(--smooth-corner);

	position: absolute;
	bottom: 0;
	left: 0;
	transition: 250ms linear;
}
#mobile-main-nav button.nav-active::before {
	width: 100%;
}
#mobile-main-nav button.cta.nav-active {
	background-color: var(--color-secondary);
}
/* Navigation Buttons */
@media screen and (min-width: 600px) {
	#main-nav button {
		display: block;
	}
	#mobile-nav-toggle,
	#mobile-main-nav {
		display: none;
	}
}
